body {
    background-image: url('./assets/restaurant-chilling-out-classy-lifestyle-reserved-concept.jpg');
    background-size: 250vh;
    font-family: "Arial";
}

body a {
    text-decoration: none;
}


/* MULTI USE STYLES */
.signup_button {
    min-width: 15vw;
    padding: 17px 30px;
    margin-top: 20px;
    background-color: black;
    border: none;
    color: white;
    font-size: 14px;
    border-radius: 3px;
}


/* HEADER.JS STYLES */
.header {
    background-color:burlywood;
    height: 4vh;
    width: 100vw;
    padding: 1%;
    display: flex;
    align-content: center;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    justify-content: space-between;
}

.nav {
    text-decoration: none;
    color: black;
    padding: 10px;
    font-weight: bold;

}

.logo {
    font-family: 'Times New Roman', Times, serif;
    text-transform: lowercase;
    font-weight: bold;
    padding: 1px 1px 1px 20px;
    font-size: 28px;
}

/*  APP.JS STYLES */

.App {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.content {
    margin: 3%;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* LOGIN STYLING */
.login {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login_wrapper > h1 {
    font-size: 35px;
    margin-bottom: 15px;
    padding-bottom: 10px;
    letter-spacing: -1px;
}

.general_wrapper {
    display: flex;
    flex-direction: column;
    background-color: white; 
    align-items:center;
    align-content: center;
    border-radius: 30px;
    text-align: center;
    padding: 5%;
    max-width: 60vw;
    border: 1px solid rgba(0,0,0,0.24);

}

.general_form {
    display: flex;
    flex-direction: column;
}

.general_form > input {
    min-width: 20vw;
    padding: 20px 0;
    padding-left: 15px;
    margin-bottom: 10px;
    outline: none;
    border: 1px solid rgba(0,0,0,0.24);
    border-radius: 2px;
    font-size: 15px;
}